<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Puerto Hamburguesa</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-shopping-cart fa-lg"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="cajas"><i class="fas fa-money-bill-alt fa-lg"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="productos"><i class="fas fa-coins fa-lg"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="clientes"><i class="fas fa-users fa-lg"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="mesas"><i class="fab fa-buromobelexperte fa-lg"></i></a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
