<div class="row">
  <div class="container">
    <div class="offset-10 offset-lg-11 offset-md-11" style="margin-top:20px;margin-bottom:20px;" >
      <a routerLink="/agregarProducto" class="fas fa-plus-circle fa-3x btn-agregar" style="position:fixed;z-index:9999"></a>
    </div>
    <div class="row" style="margin-top:80px;">
      <div *ngFor="let producto of productos"class="col-md-3" style="margin-bottom:20px;">
          <app-detalle-producto [producto]='producto'></app-detalle-producto>
      </div>
    </div>
  </div>
</div>
